"*":
  "exception-reporting":
    userId: "5fefb8be-ccbd-321f-cfd5-e0ae9de03085"
  welcome:
    showOnStartup: false
  "recent-files":
    updated: false
  editor:
    fontSize: 13
    softWrap: true
    confirmCheckoutHeadRevision: false
    invisibles:
      {}
    showIndentGuide: true
  core:
    disabledPackages: [
      "atomic-emacs"
      "autocomplete-plus"
    ]
    themes: [
      "atom-dark-ui"
      "monokai-tweaked-syntax"
    ]
    ignoredNames: [
      ".idea"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "highlight-line":
    enableBackgroundColor: false
  linter:
    {}
  whitespace:
    removeTrailingWhitespace: false
  "sync-settings":
    personalAccessToken: "1baf3dc59d163308a17fbae93847cf3b3897078a"
    gistId: "23c170269b8f800a72ab"
