packages: [
  "atom-monokai"
  "atom-monokai-dark"
  "atomic-emacs"
  "color-picker"
  "file-icons"
  "highlight-line"
  "japanese-wrap"
  "language-haml"
  "linter"
  "merge-conflicts"
  "minimap"
  "monokai-tweaked-syntax"
  "package-sync"
  "recent-files"
  "sync-settings"
]
